* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(58, 189, 189, 0.7);
}
img {
    height: auto;
    width: 200px;
    border-radius: 20px;
   }
.subtitle {
    text-align: center;
}